body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #ffffff;
}

#tracy {
    color: steelblue;
}

.h-buttons button {
    border-radius: 40px;
    color: black;
}

.contact {
    padding-top: 20px;
}

.cdata {
    margin-top: 20px;
    margin-bottom: 15px;
}

.data {
    height: inherit;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}


.click-me, button[type=submit], .deliver, .delivernot {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 2px;
    background-color: #ffbf00;
    outline: none;
    padding: 12.5px 13px;
    border: none;
    border-radius: 33px;
    font-size: 14px;
}

.order-overlay {
    height: inherit;
    padding: 20px;
    background-color: steelblue;
    border-radius: 20px;
}

.menu-overlay {
    height: inherit;
    width: inherit;
    background-color: rgba(0, 0, 0, 0.7);
}

#push {
    padding-top: 30%;
    background-image: url(../images/background.jpg);
    background-size: cover;
    height: 700px;
}

figure img {
    height: 260px;
    width: 260px;
}

.txt {
    font-family: system-ui, cursive;
    color: black;
    font-size: 23px;
}

.txt-big {
    font-size: 50px;
    font-family: 'Shadows Into Light', cursive;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}
#confirm{
    color: steelblue;
}